.card-container {
  background-color: #21242c;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 18rem;
  flex: 1;
  
}

.card-header {
  display: flex;
  justify-content: space-between; /* text left, logo right */
  align-items: flex-start; /* align top */
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: left;
}

.card-name {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}

.card-value {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.card-change {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0;
}

.logo-container {
  display: flex;
  align-items: flex-start;
}

.card-logo {
  width: 2.5rem; /* adjust size */
  height: 2.5rem;
  object-fit: contain;
}
